﻿@{
    ViewBag.Title = "Phone book";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="form-group">
    <input type="text" class="form-control" id="autocomplete" placeholder="Please, press to type your phone contact...">
</div>

@section scripts
{
    <script src="~/Scripts/app/customAutocomplete.js"></script>
}